.right-0 {
    right: 0 !important;
}
.top-0 {
  top: 0 !important;
}
.position-absolute {
  position: absolute !important;
}
.position-relative {
  position: relative !important;
}
.label-link {
  float: right;
  font-size: 13px;
}

.login-form {
  padding: 16px
}
  