.default-layout {
  display: grid;
  grid-template-rows: 80px auto 3rem;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  /* min-height: 88vh; */
  /* margin-left: 54px; */
  /* margin-right: 54px; */
}

footer {
  grid-area: footer;
  background-color: black;
  padding: 1rem;
  color: white;
}

