.default-layout {
  display: grid;
  grid-template-rows: 80px auto 3rem;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  min-height: 88vh;
  margin-left: 54px;
  margin-right: 54px;
}

footer {
  grid-area: footer;
  background-color: black;
  padding: 1rem;
  color: white;
}

/* .btn {
  vertical-align: bottom;
  border: 0;
  font-weight: 500;
  padding: 0.625rem 1.5rem 0.5rem;
  font-size: .90rem;
  line-height: 1.5;
} */

.btn:hover {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
}

.form-label {
  margin-bottom: 0.3rem;
  font-size: 15px;
}

.react-datepicker-wrapper {
  width: 0 !important;
}

.ds-date {
  display: block;
  /* width: 100%; */
  border: 1px solid #ced4da;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 218px;
}
.ds-date:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}